span {
  font-weight: 600;
  color: red;
}

main {
  width: 100%;
}

#wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100vh;
  width: 100%;
}

// .wrapper-open {
//   height: 0vh;
//   width: 0vh;
//   transition-duration: 5s;
// }

#filter-container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

#garage-items-container {
  width: 100%;
  padding: 50px 0px;;
}

.garage-item {
  width: 40%;
  margin: 0px auto 130px auto;
  border-bottom: 1px solid #000;
  padding: 0px 0px 30px 0px;
}

.garage-item-title-container {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.garage-item-title {
  margin: 0;
  width: 80%;
  height: 100%;
  font-size: 26px;
}

.garage-item-title:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.delete-item-button-container {
  width: 20%;
  height: 100%;
}

.reason {
  display: none;
}

.reason-visible {
  display: block;
}

.garage-item-body {
  height: 60%;
  width: 100%;
  background-color: white;
  margin: 0px 0px 50px 0px;
  padding: 10px 0px;
  font-size: 20px;
}

.garage-item-rating {
  height: 30%;
  width: 100%;
}

.drop-down-list {
  margin: 0;
}

.list-item {
  text-align: center;
  list-style: none;
  padding: 5px 0px;
  font-size: 16px;
}

.drop-down-hidden {
  display: none;
}

.drop-down-visible {
  display: block;
  background-color: #000;
  width: 20%;
  position: absolute;
  margin-top: 0px;
  color: #f2f2f2;
  margin-left: 206px;
}

.list-item:hover {
  background-color: #00b3b3;
  cursor: pointer;
  color: #000;
}

.drop-down-placeholder {
  margin: 0 auto;
  width: 50%;
  height: 50px;
  background-color: #004d4d;
}

.drop-down-placeholder:hover {
  cursor: pointer;
  background-color: #00b3b3;
}

.delete-item-button {
  height: 40px;
  width: 90px;
  background-color: #004d4d;
  color: #f2f2f2;
  font-size: 14px;
}

.delete-item-button:hover {
  background-color: #00b3b3;
  color: #f2f2f2;
  font-size: 14px;
  cursor: pointer;
}

.rating {
  color: #fff;
  padding: 10px;
  font-size: 20px;
  margin: 0;
}

.hide-info {
  display: block;
}
