main {
  width: 100%;
}

#filter-container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

#garage-items-container {
  width: 100%;
  padding: 50px 0px;;
}

.garage-item {
  height: 500px;
  width: 40%;
  margin: 0px auto 50px auto;
  border-bottom: 1px solid #000;
}

.garage-item-title-container {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.garage-item-title {
  margin: 0;
  width: 80%;
  height: 100%;
  font-size: 26px;
}

.delete-item-button-container {
  width: 20%;
  height: 100%;
}

.garage-item-body {
  height: 60%;
  width: 100%;
  background-color: white;
  margin: 0;
  padding: 10px 0px;
}

.garage-item-rating {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drop-down-list {
  margin: 0;
}

.list-item {
  text-align: center;
  list-style: none;
  padding: 5px 0px;
  font-size: 16px;
}

.drop-down-hidden {
  display: none;
}

.drop-down-visible {
  display: block;
  background-color: #000;
  width: 20%;
  position: absolute;
  margin-top: 74px;
  color: #f2f2f2;
}

.list-item:hover {
  background-color: #00b3b3;
  cursor: pointer;
  color: #000;
}

.drop-down-placeholder {
  width: 50%;
  height: 50px;
  background-color: #004d4d;
}

.drop-down-placeholder:hover {
  cursor: pointer;
  background-color: #00b3b3;
}

.delete-item-button {
  height: 40px;
  width: 90px;
  background-color: #004d4d;
  color: #f2f2f2;
  font-size: 14px;
}

.delete-item-button:hover {
  background-color: #00b3b3;
  color: #f2f2f2;
  font-size: 14px;
  cursor: pointer;
}

.rating {
  color: #fff;
  padding: 10px;
  font-size: 20px;
  margin: 0;
}
